USE [GameDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_CHARACTER]    Script Date: 2025-01-19 오후 6:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_CREATE_CHARACTER]
	@ID VARCHAR(50),
	@GENDER INT,
	@JOB INT,
	@PREST_ID INT
AS
BEGIN
	DECLARE @USER_CODE INT;

	INSERT INTO TBL_USER_CODE_NUMBER VALUES(@ID);

	SELECT @USER_CODE = CODE_NUMBER  FROM TBL_USER_CODE_NUMBER  WHERE ID = @ID;

	BEGIN TRAN
	BEGIN TRY

		INSERT INTO TBL_CHARACTER_PRESET VALUES(@USER_CODE,@GENDER,@PREST_ID);


		INSERT INTO TBL_CHAR_JOB_INFO VALUES(@USER_CODE,@JOB,1);
		

		INSERT INTO TBL_CHAR_LAST_MAP_INFO(ID,MAP_ID,X,Y) VALUES(@USER_CODE,0,300,300);
		

		INSERT INTO TBL_CHAR_LEVEL_INFO VALUES(@USER_CODE,1,0);

		INSERT INTO TBL_HEALTH VALUES(@USER_CODE,100,50);

		INSERT INTO TBL_GM VALUES(@USER_CODE,0);

		COMMIT TRAN
		RETURN 0;

	END TRY
	BEGIN CATCH
		ROLLBACK TRAN
		PRINT 'CREATE_CHARACTER : ' + ERROR_MESSAGE()
		RETURN -1;
	END CATCH
END