USE [GameDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_CHARACTER]    Script Date: 2024-07-14 오전 2:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_CREATE_CHARACTER]
	@ID VARCHAR(50),
	@GENDER INT,
	@JOB INT,
	@PREST_ID INT
AS
BEGIN
	BEGIN TRAN
	BEGIN TRY
		INSERT INTO TBL_CHARACTER_PRESET VALUES(@ID,@GENDER,@PREST_ID);


		INSERT INTO TBL_CHAR_JOB_INFO VALUES(@ID,@JOB,1);
		

		INSERT INTO TBL_CHAR_LAST_MAP_INFO(ID,MAP_ID,X,Y) VALUES(@ID,0,300,300);
		

		INSERT INTO TBL_CHAR_LEVEL_INFO VALUES(@ID,1,0);
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN
		PRINT 'CREATE_CHARACTER : ' + ERROR_MESSAGE()
		RETURN -1;
	END CATCH
		
	COMMIT TRAN
	RETURN 0;
END