USE [GameDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_CHARACTER]    Script Date: 2024-06-17 오후 9:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_DELETE_CHARACTER]
	@ID VARCHAR(50)
AS
BEGIN
	BEGIN TRAN
		BEGIN TRY
			DELETE FROM TBL_CHAR_GENDER_INFO WHERE ID = @ID;

			DELETE FROM TBL_CHAR_JOB_INFO WHERE ID = @ID;

			DELETE FROM TBL_CHAR_LAST_MAP_INFO WHERE ID = @ID;

			DELETE FROM TBL_CHAR_LEVEL_INFO WHERE ID = @ID;
		END TRY
		BEGIN CATCH
			ROLLBACK TRAN
			PRINT 'DELETE_CHARACTER' + ERROR_MESSAGE()
			RETURN -1
		END CATCH

		COMMIT TRAN
		RETURN 0;
END;