USE [GameDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_CHARACTER]    Script Date: 2025-01-19 오후 7:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_DELETE_CHARACTER]
	@ID VARCHAR(50)
AS
BEGIN
	DECLARE @USER_CODE INT;

	SELECT @USER_CODE = CODE_NUMBER FROM TBL_USERT_CODE_NUMBER WHERE ID = @ID;

	BEGIN TRAN
		BEGIN TRY
			DELETE FROM TBL_CHARACTER_PRESET WHERE ID = @USER_CODE;

			DELETE FROM TBL_CHAR_JOB_INFO WHERE ID = @USER_CODE;

			DELETE FROM TBL_CHAR_LAST_MAP_INFO WHERE ID = @USER_CODE;

			DELETE FROM TBL_CHAR_LEVEL_INFO WHERE ID = @USER_CODE;

			DELETE FROM TBL_HEALTH WHERE ID = @USER_CODE;

			DELETE FROM TBL_USER_CODE_NUMBER WHERE CODE_NUMBER = @USER_CODE;
		END TRY
		BEGIN CATCH
			ROLLBACK TRAN
			PRINT 'DELETE_CHARACTER' + ERROR_MESSAGE()
			RETURN -1
		END CATCH

		COMMIT TRAN
		RETURN 0;
END;