USE [GameDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_READ_CHARACTER]    Script Date: 2024-06-19 오후 10:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_READ_CHARACTER]
	@ID VARCHAR(50)
AS
BEGIN
	DECLARE @COUNT INT = 0;

	SELECT COUNT(*) FROM TBL_CHARACTER_PRESET WHERE ID = @ID;

	IF @COUNT <= 0
		RETURN -1;
	

    SELECT 
        G.ID,
        G.GENDER,
        J.JOB,
        J.JOB_LEVEL,
        L.MAP_ID,
        L.X,
        L.Y,
        LV.CURRENT_LEVEL,
        LV.CURRENT_EXP
    FROM TBL_CHAR_GENDER_INFO G
    INNER JOIN TBL_CHAR_JOB_INFO J ON G.ID = J.ID
    INNER JOIN TBL_CHAR_LAST_MAP_INFO L ON G.ID = L.ID
    INNER JOIN TBL_CHAR_LEVEL_INFO LV ON G.ID = LV.ID
    WHERE G.ID = @ID

	RETURN 0;
END;