USE [GameDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_READ_CHARACTER]    Script Date: 2025-05-04 오전 1:59:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[SP_READ_CHARACTER]
	@ID VARCHAR(50)
AS
BEGIN

	DECLARE @USER_CODE INT = 0;

	SET LOCK_TIMEOUT 20000;

	SELECT @USER_CODE = CODE_NUMBER 
	FROM TBL_USER_CODE_NUMBER 
	WHERE ID = @ID;

	IF @USER_CODE <= 0
		RETURN -1; -- 여기서만 -1을 돌려주는데 그 이유는 -1은 캐릭이 생성되지 않았다는 뜻이다.

    SELECT 
        C.ID,
        C.GENDER,
		C.PRESET_NUMBER,
        J.JOB,
        J.JOB_LEVEL,
        L.MAP_ID,
        L.X,
        L.Y,
        LV.CURRENT_LEVEL,
        LV.CURRENT_EXP,
		H.HP,
		H.MP,
		G.ACTIVE
    FROM TBL_CHARACTER_PRESET C
    INNER JOIN TBL_CHAR_JOB_INFO J ON C.ID = J.ID
    INNER JOIN TBL_CHAR_LAST_MAP_INFO L ON C.ID = L.ID
    INNER JOIN TBL_CHAR_LEVEL_INFO LV ON C.ID = LV.ID
	INNER JOIN TBL_HEALTH H ON C.ID = H.ID
	INNER JOIN TBL_GM G ON C.ID = G.ID
    WHERE C.ID = @USER_CODE

	RETURN 0;
END;