USE [GameDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_JOB_LEVEL]    Script Date: 2025-01-19 오후 7:08:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_UPDATE_JOB_LEVEL]
	@ID VARCHAR(50),
	@JOB_LEVEL INT
AS
BEGIN
	DECLARE @USER_CODE INT = 0;
	SELECT @USER_CODE = CODE_NUMBER FROM TBL_USER_CODE_NUMBER WHERE ID = @ID;
	UPDATE TBL_CHAR_JOB_INFO SET JOB_LEVEL = @JOB_LEVEL WHERE ID = @USER_CODE;
	RETURN 0;
END