USE [GameDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MP]    Script Date: 2025-05-04 오전 1:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[SP_UPDATE_MP]
	@ID VARCHAR(50),
	@MP INT
AS
BEGIN
	DECLARE @USER_CODE INT = 0;

	SET LOCK_TIMEOUT 20000;

	SELECT @USER_CODE = CODE_NUMBER 
	FROM TBL_USER_CODE_NUMBER WITH(NOLOCK)
	WHERE ID = @ID;

	IF @USER_CODE = 0
		RETURN 999;

	BEGIN TRY
		UPDATE TBL_HEALTH SET MP = @MP WHERE ID = @USER_CODE
	END TRY
	BEGIN CATCH
		PRINT dbo.FN_GET_ERROR_MESSAGE('TBL_HEALTH');
		RETURN -1;
	END CATCH

	RETURN 0;
END