USE [GameDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_LEVEL_EXP]    Script Date: 2025-01-21 오후 10:00:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[SP_UPDATE_LEVEL_EXP]
	@ID VARCHAR(50),
	@LEVEL INT,
	@EXP INT
AS
BEGIN
	DECLARE @USER_CODE INT = 0;

	SET LOCK_TIMEOUT 20000;

	SELECT @USER_CODE = CODE_NUMBER 
	FROM TBL_USER_CODE_NUMBER WITH(NOLOCK) 
	WHERE ID = @ID;

	IF @USER_CODE = 0
		RETURN 999;

	BEGIN TRY
		UPDATE TBL_CHAR_LEVEL_INFO SET CURRENT_LEVEL = @LEVEL,CURRENT_EXP = @EXP WHERE ID = @USER_CODE; 
	END TRY
	BEGIN CATCH
		PRINT dbo.FN_GET_ERROR_MESSAGE('TBL_CHAR_LEVEL_INFO');
		RETURN -1;
	END CATCH

	RETURN 0;
END