USE [GameDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_JOB_LEVEL]    Script Date: 2025-01-21 오후 10:00:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[SP_UPDATE_JOB_LEVEL]
	@ID VARCHAR(50),
	@JOB_LEVEL INT
AS
BEGIN
	DECLARE @USER_CODE INT = 0;

	SET LOCK_TIMEOUT 20000;

	SELECT @USER_CODE = CODE_NUMBER 
	FROM TBL_USER_CODE_NUMBER WITH(NOLOCK)
	WHERE ID = @ID;

	IF @USER_CODE = 0
		RETURN 999;

	BEGIN TRY
		UPDATE TBL_CHAR_JOB_INFO SET JOB_LEVEL = @JOB_LEVEL WHERE ID = @USER_CODE;
	END TRY
	BEGIN CATCH
		PRINT dbo.FN_GET_ERROR_MESSAGE('TBL_CHAR_JOB_INFO');
		RETURN -1;
	END CATCH

	RETURN 0;
END