USE [GameDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_LEVEL_EXP]    Script Date: 2025-01-21 오후 10:00:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_UPDATE_LEVEL_EXP]
	@ID VARCHAR(50),
	@LEVEL INT,
	@EXP INT
AS
BEGIN
	DECLARE @USER_CODE INT = 0;
	SELECT @USER_CODE = CODE_NUMBER FROM TBL_USER_CODE_NUMBER WHERE ID = @ID;
	IF @USER_CODE = 0
		RETURN 999;
	UPDATE TBL_CHAR_LEVEL_INFO SET CURRENT_LEVEL = @LEVEL,CURRENT_EXP = @EXP WHERE ID = @USER_CODE; 
	RETURN 0;
END