USE [AccountDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_NICKNAME]    Script Date: 2025-05-04 오전 2:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[SP_DELETE_NICKNAME]
	@ID VARCHAR(50)
AS
BEGIN
	SET LOCK_TIMEOUT 20000;

	BEGIN TRY
		UPDATE TBL_ACCOUNT SET NICKNAME ='GUEST' WHERE ID = @ID;
	END TRY
	BEGIN CATCH
		PRINT　'DELETE_NICKNAME :' + ERROR_MESSAGE()
		RETURN -1
	END CATCH
	RETURN 0
END